.menu__logo {
  max-width: 250px;
}

.menu__principal {
  position: fixed;
  width: 100%;
  background: red;
  text-align: center;
  transition: all 0.5s;
}
.menu__principal-categoria {
  display: inline;
  margin: 3rem 0;
  padding: 0 10px;
}
a {
  color: green;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 600;
}
